<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ShareCondo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <div class="header-content">
        <div class="left-group" style="display:flex; align-items:center;">
            <img th:src="@{/img/logo.png}" alt="ShareCondo Logo" class="logo" />
            <nav>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/quem-somos}">Quem somos</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-buttons">
            <a th:href="@{/cadastro}" class="signup-btn">Cadastre-se</a>
            <a th:href="@{/login}" class="login-btn">Login</a>
        </div>
    </div>
</header>


<section class="section1">
    <div class="section-content">
        <div class="text-content">
            <h1>Unindo vizinhos, promovendo conexões</h1>
            <h4>
                Faça parte de uma comunidade ativa onde o compartilhamento e o apoio são a essência de tudo o que
                fazemos. Vamos ajudar uns aos outros a prosperar
            </h4>
        </div>
        <img th:src="@{/img/section1-img.png}" alt="Comunidade unida" class="section-image" />
    </div>
</section>

<section class="section2">
    <div class="section-content">
        <img th:src="@{/img/section2-image.png}" alt="Comunidade solidária" class="section-image" />
        <div class="text-content">
            <h1>Construindo uma comunidade solidária por meio de necessidades compartilhadas</h1>
        </div>
    </div>
</section>

<footer>
    <div class="footer-content">
        <img th:src="@{/img/logo.png}" alt="ShareCondo Logo" class="footer-logo" />
        <div class="social-icons">
            <a href="#"><img th:src="@{/img/facebook-icon.png}" alt="Facebook" /></a>
            <a href="#"><img th:src="@{/img/instagram-icon.png}" alt="Instagram" /></a>
            <a href="#"><img th:src="@{/img/twitter-icon.png}" alt="Twitter" /></a>
            <a href="#"><img th:src="@{/img/linkedin-icon.png}" alt="LinkedIn" /></a>
        </div>
    </div>
</footer>
</body>
</html>
